.body {
  background-color: #414141;
  height: 100%;
}

.tag {
  text-align: center;
  width: 50%;
  border: 3px solid red;
  flex-direction: row;
  justify-content: center;
}
.footer {
  /* border-color: #100f0f; */
}
